.cover-image {
    width: 90vw;
    max-width: 900px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
  }

  article {
    padding: 2rem 0;
    min-width: 200px;
    max-width: 800px;
    font-size: 18px;
    z-index: 2;
  }

  h1 {
    font-size: 2em;
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.6em;
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.2em;
    line-height: 1.1;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  blockquote {
    font-size: 1.2em;
    font-style: inherit;

    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    border-left: 4px solid #646cff;
  }

  p {
    line-height: 32px;
    margin-top: 2em;
  }

  @media (max-width: 768px) {
    article {
      padding: 1rem 0;
      margin-top: 0;
      width: 90vw;
      margin-top: 0;
      font-size: 16px;
    }

    h1 {
      font-size: 1.5em;
    }

    h2 {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1em;
    }

    blockquote {
      font-size: 1em;
    }
  }