/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;



pre {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
  
    code {
      flex: 1;
      line-height: 1.5em;
      font-size: 14px;
      min-height: 100%;
      padding: 1em 1.2em;
      border-radius: 8px;
  
      &.hljs-line-numbers {
        padding: 0 !important;
      }
    }
  }
  

body { 
    padding: 20px;
}